<div class="comment_item" id=<%= book.id %>>
	<a name=<%= book.id %>>
		<form action="/edit">
			<div class="comment_item_header">
				<table width="100%">
				<tr>
				<td>
					<b>
						<% if(book.name === ""){ %>
						名無し
						<% }else{ %>
						<%= book.name %>
						<% } %>
					</b>
					<i class="comment_item_date">(
						<% if(book.edited){ %>
						編集済み:
						<% } %>
						<%= book.time %>
						)
					</i>
				</td>
				<td align="right">
					<input type="hidden" name="id" value="<%= book.id %>">
					<button>編集</button>
				</td>
				</tr>
				</table>
			</div>
			<div class="comment_item_body">
				<%= book.content %>
			</div>
		</form>
	</a>
</div>
